@import '_variables';

@font-face {
  font-family: "circularstd";
  src: url("./assets/font/CircularStd-Book.otf");
}
@font-face {
  font-family: "circularstd";
  changesrc: url("./assets/font/CircularStd-Bold.otf");
  font-weight: bold;
}

body,
.v-application {
  font-family: "circularstd", sans-serif !important;
  overflow-x: hidden;
}

.v-btn {
  letter-spacing: normal;
  text-transform: initial;
}