@import '_variables';

.v-breadcrumbs {
  padding: 5px 0;
}

.page {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.page-title {
  color: $blue;
}

.main-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .button {
    color: white;
    margin-left: 8px;
  }

  .button p {
    margin-left: 5px;
    margin-bottom: 0;
  }
}

.table-actions {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

  .left {
    display: flex;
    align-items: center;
  }
  .left > p {
    font-size: 0.85rem;
    margin: 0 10px 0 0;
  }

  .button {
    color: white;
    margin-left: 8px;
  }
}